<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="container">
	<div id="loginbox" style="margin-top: 50px;"
		class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title">{{ 'SignIn' | translate }}</div>
				<div
					style="float: right; font-size: 80%; position: relative; top: -10px">
					<a href="#">{{ 'ForgotPass' | translate }}?</a>
				</div>
			</div>
			<div style="padding-top: 30px" class="panel-body">

				<div style="display: none" id="login-alert"
					class="alert alert-danger col-sm-12"></div>

				<form id="loginform" class="form-horizontal" role="form" #loginForm="ngForm">

					<div style="margin-bottom: 25px" class="input-group">
						<span class="input-group-addon"> <i
							class="glyphicon glyphicon-user"></i>
						</span> <input id="login-username" type="text" class="form-control"
							name="username" value="" data-placeholder="{{ 'Email' | translate }}"
							[(ngModel)]="logParam.email" required>
					</div>

					<div style="margin-bottom: 25px" class="input-group">
						<span class="input-group-addon"> <i
							class="glyphicon glyphicon-lock"></i>
						</span> <input id="login-password" type="password" class="form-control"
							name="password" data-placeholder="{{ 'Password' | translate }}"
							[(ngModel)]="logParam.password" required>
					</div>



					<div class="input-group">
						<div class="checkbox">
							<label> <input id="login-remember" type="checkbox"
								name="remember" value="1"> {{ 'RemeberMe' | translate }}
							</label>
						</div>
					</div>


					<div style="margin-top: 10px" class="form-group">
						<!-- Button -->

						<div class="col-sm-12 controls">
							<button id="btn-login" href="#" class="btn btn-success" 
							[disabled]="!loginForm.form.valid" (click)="login()">{{ 'Login' | translate }} </button> <a
								id="btn-fblogin" href="#" class="btn btn-primary">Login with
								Facebook</a>

						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12 control">
							<div
								style="border-top: 1px solid #888; padding-top: 15px; font-size: 85%">
								{{ 'DHAccount' | translate }}! <a href="#"
									onClick="$('#loginbox').hide(); $('#signupbox').show()">
									{{ 'SignUpHere' | translate }} </a>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div id="signupbox" style="display: none; margin-top: 50px"
		class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title">{{ 'SignUp' | translate }}</div>
				<div
					style="float: right; font-size: 85%; position: relative; top: -10px">
					<a id="signinlink" href="#"
						onclick="$('#signupbox').hide(); $('#loginbox').show()">{{ 'SignIn' | translate }}</a>
				</div>
			</div>
			<div class="panel-body">
				<form id="signupform" class="form-horizontal" role="form" #registerForm="ngForm">

					<div id="signupalert" style="display: none"
						class="alert alert-danger">
						<p>Error:</p>
						<span></span>
					</div>



					<div class="form-group">
						<label for="email" class="col-md-3 control-label">{{ 'Email' | translate }}</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="email"
								data-placeholder="{{ 'Email' | translate }}" [(ngModel)]="param.email" required>
						</div>
					</div>

					<div class="form-group">
						<label for="firstname" class="col-md-3 control-label">{{ 'Username' | translate }}</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="firstname"
								data-placeholder="{{ 'Username' | translate }}" [(ngModel)]="param.userName" required>
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-md-3 control-label">{{ 'Password' | translate }}</label>
						<div class="col-md-9">
							<input type="password" class="form-control" name="passwd"
								data-placeholder="{{ 'Password' | translate }}" [(ngModel)]="param.password" required>
						</div>
					</div>

<!-- 					<div class="form-group"> -->
<!-- 						<label for="icode" class="col-md-3 control-label">Invitation -->
<!-- 							Code</label> -->
<!-- 						<div class="col-md-9"> -->
<!-- 							<input type="text" class="form-control" name="icode" -->
<!-- 								placeholder=""> -->
<!-- 						</div> -->
<!-- 					</div> -->

					<div class="form-group">
						<!-- Button -->
						<div class="col-md-offset-3 col-md-9">
							<button id="btn-signup" type="button" class="btn btn-info" [disabled]="!registerForm.form.valid" (click)="register()">
								<i class="icon-hand-right"></i> &nbsp {{ 'SignUp' | translate }}
							</button>
							<span style="margin-left: 8px;">or</span>
						</div>
					</div>

					<div style="border-top: 1px solid #999; padding-top: 20px"
						class="form-group">

						<div class="col-md-offset-3 col-md-9">
							<button id="btn-fbsignup" type="button" class="btn btn-primary">
								<i class="icon-facebook"></i>   Sign Up with Facebook
							</button>
						</div>

					</div>
				</form>
			</div>
		</div>
	</div>
</div>