.ticket-workflow{
    h3{
        font-size: 13px;
        font-weight: bold;
        color: rgba(0,0,0,.7);
        margin: 0px;
    }
    p{
        font-size: 13px;
        color: rgba(0,0,0,.5);
        margin: 5px 0px;
    }
    .date{
        font-size: 10px;
        color: rgba(0,0,0,.5);
        font-style: italic;
    }
}