<!-- HEADER -->
<div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

  <div class="hero-text">
      <mat-icon class="hero-icon">account_balance</mat-icon>
      <h1 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
          WELCOME TO SBM HelpDesk 
      </h1>
      <h3 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
          Our apps will step you through the process of SBM HelpDesk
      </h3>
  </div>

</div>
<!-- / HEADER -->