@import "variable";

.relative{
	position: relative;
}
.f-width{
	width: 100% !important;
}
.col-9{
	width: 75%;
}
.header{
	&.mat-accent-bg {
		display: block !important;
		padding-bottom: 100px !important;
	}	
}

.mat-white-bg{
	margin-right: 0px !important;
	margin-left: 0px !important;
}
.btns{
	padding: 10px;
	overflow: hidden;
}

#uploadDropArea{
	width: 100%;
    height: 100px;
    border-radius: 0px;
    background: #f2f2f2;
    box-shadow: none;
	color: rgba(0, 0, 0, 0.54);
	border: #d2d2d2 1px dashed;
	position: relative;
	input[type="file"]{
		display: block;
		width: 100%;
		height: 100px;
		position: absolute;
		top: 0px;
		left: 0px;
		cursor: pointer;
		opacity: 0;
		z-index: 2;
	}
	.drop-area-cont{
		text-align: center;
		padding: 17px;
		mat-icon{
			font-size: 40px;
			height: 40px;
			width: 40px;
			display: inline-block;
		}
		.hint{
			font-size: 13px;
			display: block;
		}
	}
}

content{
	padding: 0px 30px;
	margin-top: -75px;
	form{
		margin-right: 0px !important;
		margin-left: 0px !important;
	}
}

.row{
	margin-right: -10px;
	margin-left: -10px;
	.mat-form-field{
		padding-right: 10px;
		padding-left: 10px;
		textarea{
			min-height: 100px;
		}
	}
}

.table{
	width: 100%;
	&.fixed-header{
		.th{
			position: sticky;
			top: 0px;
			background: #fff;
			font-size: 13px;
			font-weight: bold;
			padding: 10px 20px;
			border-bottom: rgba(0, 0, 0, 0.12) 1px solid;
			&.narrow{
				width: 1%;
			}
		}
		.mat-row{
			padding: 0px;
		}
		.td{
			border-bottom: rgba(0, 0, 0, 0.12) 1px solid;
			font-size: 12px;
			padding: 10px 20px;
			&.narrow{
				width: 1%;
			}
			&.one-line{
				white-space: nowrap;
			}
			&.center{
				text-align: center;
			}
			&.options{
				white-space: nowrap;
				a{
					color: rgba(0, 0, 0, 0.54);
					margin: 0px 5px;
				}
			}
			.status-pullet{
				display: inline-block;
				width: 15px;
				height: 15px;
				border-radius: 100%;
				background-color: #d2d2d2;
				&.created,&.open{
					background-color: #F44336;
				}
				&.completed,&.closed{
					background-color: #039BE5;
				}
				&.inprogress{
					background-color: #3C4252;
				}
			}
		}
	}
}

.content{
	width: 100%;
	.custom-grid{
		max-height: 500px;
		overflow: auto;
	}
}

#dashboard-project{
	margin-right: -10px;
	margin-left: -10px;
	.mat-tab-label{
		height: 75px;
	}
	.col{
		padding-right: 10px;
		padding-left: 10px;
	}
}
