<div id="dashboard-project" class="page-layout">
    <div class="content clearfix">

        <div class="tf-time-line mb-24" aria-label="Time line">

            <div  class="vertical-stepper-wrapper">

                <!-- VERTICAL STEPPER EXAMPLE -->
                <mat-vertical-stepper  [linear]="true" *ngFor="let data of ticketHistory">

                    <mat-step [stepControl]="verticalStepperStep1">

                        <ng-template matStepLabel>{{data.stepId}}</ng-template>
                  {{data.behaviorValue}}
                     {{data.behaviorName}}
                   {{data.type}}  
                  {{data.actionAt}}
                    </mat-step>

                   <!--  <mat-step [stepControl]="verticalStepperStep2">
                        <ng-template matStepLabel>{{data.stepId}}</ng-template>
                         <i *ngFor="let data of ticketHistory ">
                            {{data.behaviorValue}}
                                    </i> 
                    </mat-step>
                    
                     <mat-step [stepControl]="verticalStepperStep3">

                        <ng-template matStepLabel>{{data.stepId}}</ng-template>
                    </mat-step> -->

                </mat-vertical-stepper>
                <!-- / VERTICAL STEPPER EXAMPLE -->

            </div>

            <div class="navigate">
                <button class="mat-accent" mat-raised-button (click)="stepTickBack()">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <button class="mat-accent" mat-raised-button (click)="stepTickForward()">
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </div>

        </div>


        <!-- <div class="dialog-content-wrapper">
 -->

        <!-- 
    <mat-toolbar matDialogTitle class="mat-accent m-0">
       
          <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
                  <span class="title dialog-title">{{dialogTitle}}</span>
                  <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                      <mat-icon>close</mat-icon>
                  </button>
              </mat-toolbar-row>
  
        <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">
     
            <div class="contact-name mt-8">{{contact.title}}</div>
        </mat-toolbar-row>
    </mat-toolbar>
   -->



        <div class="tf-fields">
            <form [formGroup]="contactForm">

                    <!-- <mat-form-field>
                            <input    matInput placeholder="Company (disabled)" disabled value="Google">
                          </mat-form-field>
 -->

                <mat-form-field class="w-50-p">
                    <input name="ticketId"  formControlName="ticketId"  placeholder="ticket#" matInput required  disabled>
                    <!-- <button style="float: right; color:red" mat-button><mat-icon>clear</mat-icon></button>
                    <button style="float: right; color: green"  (click)="submitTicket()">  <mat-icon>done</mat-icon></button> -->
                        <button (click)="testMethod()"><mat-icon>mode_edit</mat-icon></button>
                    </mat-form-field>
            

                <mat-form-field class="w-50-p">
                    <input name="title" formControlName="title" placeholder="Title " disabled matInput required>
                    <button style="float: right; color: red"><mat-icon>clear</mat-icon></button>
                    <button style="float: right; color: green"  (click)="submitTicket()">  <mat-icon>done</mat-icon></button>

                </mat-form-field>
               
                <mat-form-field class="w-50-p">
                    <input name="creationdate" formControlName="creationdate" matInput placeholder="Created_On (disabled)" required>
                    <button style="float: right; color: red" ><mat-icon>clear</mat-icon></button>
                    <button style="float: right; color:green"  (click)="submitTicket()">  <mat-icon>done</mat-icon></button>
                </mat-form-field>

          <!--     
                <mat-form-field class="w-50-p">
                        <mat-select placeholder="Severity" [(ngModel)]="ticket.ticketSeverity" formControlName="severity" required>
                            <mat-option *ngFor="let item of ticketSeverityList" [value]="item">
                                {{item.severityName}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="formErrors.severity.required">
                            Severity is required!
                        </mat-error>
                    </mat-form-field>
            
               
            
            
                    
                    <mat-form-field class="w-50-p">
                        <mat-select placeholder="Priority" [(ngModel)]="ticket.ticketPriority" formControlName="priority" required>
                            <mat-option *ngFor="let item of ticketPeriorityList" [value]="item">
                                {{item.priorityLevel}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="formErrors.priority.required">
                            Priority is required!
                        </mat-error>
                    </mat-form-field>

               


                <mat-form-field class="w-50-p">
                    <input name="status" formControlName="status" matInput placeholder="Staus" required>
                    <mat-select placeholder="Status" [(ngModel)]="ticket.status" formControlName="status" required>
                            <mat-option *ngFor="let item of ticketStatusList" [value]="item">
                                {{item}}
                            </mat-option>
                        </mat-select>
                    <button style="float: right; color :red"><mat-icon>clear</mat-icon></button>
                    <button style="float: right; color:green">  <mat-icon>done</mat-icon></button>
                </mat-form-field>
 
           -->      
                <mat-form-field class="w-50-p">
                        <input name="description" 
                        formControlName="description" matInput placeholder="Description" required>
                        <button style="float: right; color: red"><mat-icon>clear</mat-icon></button>
                        <button style="float: right; color: green">  <mat-icon>done</mat-icon></button>
                    </mat-form-field>

         

              
            </form>

        </div>

        <div class="tf-tabs my-24">

            <mat-tab-group dynamicHeight>

                <mat-tab label="Comments">
                    <app-ticket-comment></app-ticket-comment>
                </mat-tab>

                <mat-tab label="Attachments">
                    <app-ticket-attachements></app-ticket-attachements>
                </mat-tab>


            </mat-tab-group>

        </div>


    </div>

</div>