<div id="dashboard-project" class="page-layout mat-elevation-z8  mat-white-bg f-width">
    <div class="content">
        <div class="cont-grid">
            <div class="tf-time-line mb-24 t-cell" aria-label="Time line">

                    <div  class="vertical-stepper-wrapper">
        
                        <ul class="timeline">
                            <li *ngFor="let data of ticketHistory">
                                <h3 class="title">{{data.stepId}}</h3><!-- /.title -->
                                <p>This Ticket was 
                                    {{data.behaviorValue}}
                                    {{data.behaviorName}}
                                    {{data.type}}  
                                    {{data.actionAt}}
                                </p>
                            </li>
        
                        </ul>
                        <!-- / VERTICAL STEPPER EXAMPLE -->
        
                    </div>
        
                    <div class="navigate">
                        <button class="mat-accent" mat-raised-button (click)="openStepBackDialog()">
                            <mat-icon>arrow_back</mat-icon>
                        </button>
        
                        <button class="mat-accent" mat-raised-button (click)="openStepForwardDialog()">
                            <mat-icon>arrow_forward</mat-icon>
                        </button>
                    </div>
        
            </div>
            <div class="tf-fields t-cell">
                    <form [formGroup]="contactForm">
        
        
        
                        <mat-form-field class="w-50-p">
                            <input name="ticketNO" [disabled]="true" formControlName="ticketNO"  placeholder="Ticket Number" matInput  [disabled]="true">
                            
                        </mat-form-field>
                        <mat-form-field class="w-50-p">
                                <input name="creationdate" formControlName="creationdate" matInput placeholder="Created On" [disabled]='true'>
                                
                            </mat-form-field>
        
                        <mat-form-field class="w-100-p">
                            <input name="title" formControlName="title" placeholder="Title " disabled matInput required>
                            <button (click)="testMethod()" style="float: right;"><mat-icon>mode_edit</mat-icon></button>
        
                        </mat-form-field>

                        <mat-form-field class="w-100-p">
                                <textarea name="description" formControlName="description" matInput placeholder="Description" required></textarea>
                                <button (click)="testMethod()" style="float: right;"><mat-icon>mode_edit</mat-icon></button>
                        </mat-form-field>
                        <!-- <mat-form-field class="w-50-p">
                                <mat-select placeholder="Priority" formControlName="ticketPriority" required>
                                    <mat-option *ngFor="let item of ticketPeriorityList" [value]="item">
                                        {{item.priorityLevel}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="w-50-p">
                                    <mat-select placeholder="Severity"  formControlName="ticketSeverity" required>
                                        <mat-option *ngFor="let item of ticketSeverityList" [value]="item">
                                            {{item.severityName}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field> -->
                    </form>
        
                </div>
        
        </div>


        <!-- <div class="dialog-content-wrapper">
 -->

        <!-- 
    <mat-toolbar matDialogTitle class="mat-accent m-0">
       
          <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
                  <span class="title dialog-title">{{dialogTitle}}</span>
                  <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                      <mat-icon>close</mat-icon>
                  </button>
              </mat-toolbar-row>
  
        <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">
     
            <div class="contact-name mt-8">{{contact.title}}</div>
        </mat-toolbar-row>
    </mat-toolbar>
   -->




        <div class="tf-tabs my-24">

            <mat-tab-group dynamicHeight>

                <mat-tab label="Comments">
                    <app-ticket-comment [updatedTicketId]="updatedTicketId"></app-ticket-comment>
                </mat-tab>

                <mat-tab label="Attachments">
                    <app-ticket-attachements [updatedTicketId]="updatedTicketId"></app-ticket-attachements>
                </mat-tab>


            </mat-tab-group>

        </div>


    </div>

</div>