.content{
    .form{
        overflow: hidden;
        .mat-form-field{
            width: 100%;
        }
        .btns{
            padding: 0px 10px 30px;
            margin-top: -10px;
        }
        button{
            float: right;
        }
    }
}
