<div class="example-container mat-elevation-z8 relative" fxFlex="1 1 100%">
        <mat-table class="table fixed-header" mat-table #table [dataSource]="dataSource"
        [@animateStagger]="{value:'50'}">


 

 <!-- ID Column -->
<!--     <ng-container cdkColumnDef="ticketId">
         <mat-header-cell class="th" *cdkHeaderCellDef >ID</mat-header-cell>
         <mat-cell class="td" *cdkCellDef="let ticket">
             <p class="text-truncate">{{ticket.ticketId}} </p>
         </mat-cell>
     </ng-container>
-->    
 


 <!-- Title Column -->

 <ng-container cdkColumnDef="title">
     <mat-header-cell class="th" *cdkHeaderCellDef>Title</mat-header-cell>
     <mat-cell class="td" *cdkCellDef="let ticket">
         {{ticket.title}}
     </mat-cell>
 </ng-container>

 <!-- creationdate Column -->
 <ng-container cdkColumnDef="creationdate">
     <mat-header-cell class="th" *cdkHeaderCellDef>Created_On</mat-header-cell>
     <mat-cell class="td" *cdkCellDef="let ticket" >
             {{ticket.creationdate}}
     </mat-cell>
 </ng-container>

 <!-- Descrption Column -->
 <ng-container cdkColumnDef="description">
     <mat-header-cell class="th" *cdkHeaderCellDef >Descrption</mat-header-cell>
     <mat-cell class="td" *cdkCellDef="let ticket" >
             {{ticket.description}}
     </mat-cell>
 </ng-container> 

 <!-- Status Column -->
 <ng-container cdkColumnDef="status">
     <mat-header-cell class="th" *cdkHeaderCellDef >Status</mat-header-cell>
     <mat-cell class="td" *cdkCellDef="let ticket" >
           <span class="status-pullet {{ticket.status.status}}" matTooltip="{{ticket.status.status}}" matTooltipPosition="above"></span>
     </mat-cell>
 </ng-container>

 <!-- ticketnumber Column -->
 <ng-container cdkColumnDef="ticketnumber">
     <mat-header-cell class="th" *cdkHeaderCellDef >Ticket Number</mat-header-cell>
     <mat-cell class="td" *cdkCellDef="let ticket">
             {{ticket.ticketnumber}}
     </mat-cell>
 </ng-container>


  

  <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
  <!--  (click)="editTicket(ticket)"
              [ngClass]="{'mat-accent-50-bg':checkboxes[ticket.ticketId]}"
                          [@animate]="{value:'*',params:{y:'100%'}}"
-->

 <mat-row *cdkRowDef="let ticket; columns: displayedColumns;"
          class="ticket"
          matRipple
          [routerLink]="'/teaminbox/'+ticket.ticketId">
 </mat-row>
  
</mat-table>
</div>



