@import "src/@fuse/scss/fuse";

vertical-layout-1 {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;

    #main {
        position: relative;
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        width: 100%;
        height: 100%;
        z-index: 1;

        // Boxed
        &.boxed {
            max-width: 1200px;
            margin: 0 auto;
            @include mat-elevation(8);
        }

        // Container 1
        > .container {
            position: relative;
            display: flex;
            flex: 1 1 0%;
            width: 100%;
            min-height: 0;
            min-width: 0;

            // Container 2
            > .container {
                position: relative;
                display: flex;
                flex: 1 1 0%;
                flex-direction: column;
                min-width: 0;

                // Container 3 (Scrollable)
                > .container {
                    position: relative;
                    display: flex;
                    flex: 1 1 0%;
                    flex-direction: column;
                    transform: translateZ(0);
                    overflow-x: hidden;
                    overflow-y: auto;

                    // Content component
                    content {

                        &.inner-scroll {
                            flex: 1 1 0%;
                            min-height: 0;

                            > *:not(router-outlet) {
                                flex: 1 1 0%;
                            }
                        }
                    }
                }
            }
        }
    }
}

ul{
    overflow: hidden;
    padding: 0px;
    margin: 0px 0px 10px;
    li{
        list-style: none;
        &.name{
            font-size: 14px;
            font-weight: bold;
            color: rgba(0, 0, 0, .9);
            padding: 10px;
            background-color: rgba(0, 0, 0, .1)
        }
        &.project{
            position: relative;
            width: calc(50% - 10px);
            margin: 5px;
            float: left;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 0px;
            .project-img{
                height: 70px;
                background-color: rgba(0, 0, 0, .2);
            }
            .project-name{
                font-size: 12px;
                padding: 15px 10px;
                font-weight: bold;
            }
            input{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0px;
                left: 0px;
                cursor: pointer;
                opacity: 0;
                ~ span{
                    display: block;
                    position: absolute;
                    bottom: 0px;
                    left: 50%;
                    right: 50%;
                    bottom: 0px;
                    height: 2px;
                    background: #03A9F4;
                    transition: .3s ease-in-out;
                }
                &:checked{
                    ~ span{
                        right: 0;
                        left: 0;
                    }
                }
            }
        }
    }
}