<form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
    [formGroup]="form">

    <div class="h2 mb-24">Submit Ticket</div>


    <div class="row" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

        <mat-form-field fxFlex="100">
            <input type="text" matInput placeholder="Title" [(ngModel)]="ticket.title" formControlName="title" required>
            <mat-error *ngIf="formErrors.title.required">
                Title is required!
            </mat-error>
            <mat-error *ngIf="formErrors.title.pattern">
                Invalid Input !
            </mat-error>
        </mat-form-field>


        <!--  <mat-form-field fxFlex="100">
            <textarea *ngIf="isUpdate" matInput placeholder="Ticket Number" [(ngModel)]="ticket.ticketNO" formControlName="ticketNO"
                disabled="true"></textarea>
        </mat-form-field> -->


    </div>
    <div class="row" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

        <mat-form-field fxFlex="33.3333">
            <mat-select placeholder="Workflow" [(ngModel)]="ticket.workflow" formControlName="workflow" required>
                <mat-option *ngFor="let item of workflowList" [value]="item">
                    {{item.ticketType}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="formErrors.workflow.required">
                WorkFlow is required!
            </mat-error>
            <mat-error *ngIf="serviceNotAvailable">
                Unfortunaley Service is not Available !
            </mat-error>
            <mat-error *ngIf="noWorkflows">
                Sorry, No Records Found !
            </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="33.3333">
            <mat-select placeholder="Severity" [(ngModel)]="ticket.ticketSeverity" formControlName="severity" required>
                <mat-option *ngFor="let item of ticketSeverityList" [value]="item">
                    {{item.severityName}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="formErrors.severity.required">
                Severity is required!
            </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="33.3333">
            <mat-select placeholder="Priority" [(ngModel)]="ticket.ticketPriority" formControlName="priority" required>
                <mat-option *ngFor="let item of ticketPeriorityList" [value]="item">
                    {{item.priorityLevel}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="formErrors.priority.required">
                Priority is required!
            </mat-error>
        </mat-form-field>

    </div>

    <div class="row" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

    </div>
    <div class="row" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field fxFlex="100">
            <textarea matInput placeholder="Description" [(ngModel)]="ticket.description" formControlName="description" required></textarea>
            <mat-error *ngIf="formErrors.description.required">
                Description is required!
            </mat-error>
            <mat-error *ngIf="formErrors.description.pattern">
                Invalid Description !
            </mat-error>
        </mat-form-field>

    </div>

    <div class="center" fxFlex>

        <!-- HEADER -->
        <!-- ADD FILE BUTTON -->
        <!--<input type="file" (change)="fileChange($event.target.files)" placeholder="Upload file" accept=".pdf,.doc,.docx">-->

        <div class="file-uploader" id="uploadDropArea">
            <input type="file" multiple (change)="fileChange($event.target.files)" placeholder="Upload file" accept=".pdf,.doc,.docx"
                #fileInput/>
            <div class="drop-area-cont">
                <mat-icon>add</mat-icon>
                <span class="hint">Click or Drop your files here</span>
            </div>
            <!-- /.drop-area-cont -->
            <!-- <button mat-fab 
                            class="add-file-button mat-warn"
                            (click)="fileInput.click()"
                            aria-label="Add file"
                            [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}">
                    </button> -->
        </div>
        <!-- / ADD FILE BUTTON -->
        <!-- / HEADER -->
        <!-- CONTENT -->
        <div class="content mat-white-bg" fusePerfectScrollbar>
            <file-list [(childFilesData)]="filesData"></file-list>
        </div>
        <!-- / CONTENT -->
    </div>
    <div class="row" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <button mat-button (click)="submitTicket()" [disabled]="form.invalid">Submit</button>
    </div>

</form>