@import "src/@fuse/scss/fuse";

.ticket-form-dialog {

    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint-up('xs') {
        width: 400px;
    }

    .mat-dialog-container {
        padding: 0;

        .mat-toolbar {
            flex: 1 0 auto;
            min-height: initial;
        }

        .toolbar-bottom {
            height: auto;
        }
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }
}


.mat-dialog-container {
    width: 1024px !important;
  }

  .content.clearfix {
    > div {
        float: left;
        width: 50%;
    }

    .tf-time-line {
      position: relative;
      min-height: 340px;
      .navigate {
        position: absolute;
        bottom: 1%;
        right: 5%;
      }
    }
  }

  :host {

    .content {

        form {
            width: 100%;
            max-width: 800px !important;
        }

        .form-errors-model {
            flex: 1;

            code {
                background: none !important;
            }
        }

        .horizontal-stepper-wrapper,
        .vertical-stepper-wrapper {
            max-width: 500px;
        }
    }
}
 
  
  