<table class="mat-table table fixed-header">
<thead>
    <tr class="mat-header-row">
        <th class="th mat-header-cell">Name</th>
        <th class="th mat-header-cell">Type</th>
        <th class="th mat-header-cell">Size</th>
        <th class="th mat-header-cell">Modified</th>
    </tr>
</thead>
    <tbody>
        <tr *ngFor="let file of childFilesData" class="mat-header-row">
            <td class="td mat-header-cell">{{file.name}}</td>
            <td class="td mat-header-cell">{{file.type}}</td>
            <td class="td mat-header-cell">{{file.size}}</td>
            <td class="td mat-header-cell">{{file.formatedDate}}</td>
        </tr>
    </tbody>
</table>